:root {
  --body-color: #2a2f41;

  --text-color-1: #2b3e49;
  --text-color-2: #527384;
  --text-color-3: #84a5b8;

  --background-color-1: white;
  --background-color-2: #cadce8;
  --background-color-3: #eaf2f9;
  --background-color-4: #f5fbff;

  --shadow-color: rgba(167, 193, 212, 0.75);


  --dragging: #ffddba;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

/* Contenedores */

body {
  position: relative;
  background-color: var(--body-color);
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}

.task-columns__container {
  min-width: 100%;
  margin-bottom: 10px;
}

.task-form__section {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.task-filter__section {
  min-width: 100%;
  position: relative;
}

.task-columns__container {
  display: flex;
  flex-direction: column;
}

.task-filter__menu-container {
  display: flex;
}

/* Componentes */

.title {
  text-align: center;
  margin: 25px 0 40px 0;
  font-weight: 800;
  font-size: 3rem;
  color: var(--text-color-1);
}

.task-filter-title {
  margin: 30px 0 15px 0;
  text-align: center;
  color: var(--text-color-1);
  font-size: 2rem;
  font-weight: 800;
}

.task-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--background-color-3);
  border-radius: 0 0 14px 14px;
  margin-bottom: 10px;
  display: none;
  max-height: fit-content;
}

.task-list {
  margin: 0 10px;
  min-height: 30px;
}

.task-list .task:last-child {
  margin-bottom: 30px;
}

.task-columns__title,
.task-filter__select {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  padding: 12px 22px;
  background-color: var(--background-color-2);
  border: none;
  border-radius: 14px 14px 0 0;
}

.task-filter__select,
.task-filter__option {
  cursor: pointer;
}

.task-filter__group {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  width: 100%;
  color: var(--text-color-1);
  background-color: var(--background-color-1);
  border-radius: 0 0 14px 14px;
  border: 3px solid var(--background-color-2);
  border-top: 0;
}

.column-selected {
  display: block;
}

.task-columns__title {
  display: none;
  color: var(--text-color-1);
  font-weight: 500;
}

.task-filter__option {
  color: var(--text-color-1);
  font-weight: 500;
  font-size: 0.95rem;
  padding: 9px 22px 9px 22px;
  text-align: left;
  background-color: transparent;
  border: none;
}

.option-selected {
  color: var(--text-color-1);
  font-weight: 500;
  font-size: 0.95rem;
  text-align: left;
  padding: 0;
}

.task-columns__title span,
.task-filter__option span,
.option-selected span {
  font-weight: 700;
}

.task {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border-radius: 6px;
  background-color: var(--background-color-1);
  box-shadow: 0 0 6px var(--shadow-color);
  cursor: grab;
}

.task-text {
  padding: 10px 14px;
  background-color: transparent;
  border: none;
  text-align: left;
  color: var(--text-color-2);
  font-weight: 500;
  hyphens: auto;
  font-size: 0.9rem;
}

.task-action {
  border: none;
  min-width: 30px;
  color: var(--text-color-2);
  background-color: var(--background-color-4);
  border-radius: 0 6px 6px 0;
  border-left: 2px solid var(--background-color-3);
}

.task-action__group {
  position: absolute;
  z-index: 50;
  right: 30px;
  top: 10px;
  border-radius: 8px;
  background-color: var(--background-color-2);
  overflow: hidden;
  border: 2px solid var(--text-color-3);
}

.task-action__title {
  text-align: right;
  padding: 6px 16px;
  color: white;
  background-color: var(--text-color-2);
}

.task-action__option {
  width: 100%;
  padding: 6px 16px;
  text-align: right;
  border: none;
  border-bottom: 1px solid var(--text-color-3);
  color: #2b3e49;
  font-weight: 600;
  background-color: transparent;
}

.task-action__option:last-child {
  border: none;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 14px 0;
  transition: transform 0.4s;
}

.task-form__label {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--text-color-2);
}

.task-form__input {
  padding: 12px 16px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px var(--shadow-color);
  color: var(--text-color-2);
  font-weight: 500;
  font-size: 0.9rem;
  hyphens: auto;
  field-sizing: content;
}

.task-form__input::placeholder {
  color: var(--text-color-3);
  font-weight: 300;
  font-size: 0.9rem;
}

.task-form__submit,
.task-form__opener {
  padding: 10px;
  border: none;
  font-weight: 500;
  font-size: 0.95rem;
  border-radius: 5px;
}

.task-form__submit {
  background-color: var(--text-color-2);
  color: white;
}

.task-form__opener {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--text-color-2);
  gap: 6px;
  margin-bottom: 14px;
  transition: transform 0.4s;

  & span {
    text-align: center;
  }

  & .material-symbols-outlined {
    font-size: 1.2rem;
  }
}

.modal-edit {
  border: none;
  background: none;
  background-color: var(--background-color-3);
  width: min(370px, 90%);
  height: min(auto, 90vh);
  border-radius: 16px;
  overflow: hidden;
  margin: auto;
  padding-bottom: 16px;
}

.modal-edit::backdrop {
  background-color: rgba(70, 70, 70, 0.85);
}

.modal-edit__container {
  background-color: var(--background-color-3);
  width: min(370px, 90%);
  height: min(auto, 90vh);
  border-radius: 16px;
  overflow: hidden;
  margin: auto;
}

.modal-edit__header {
  display: flex;
  justify-content: space-between;
  padding: 14px 20px 14px 36px;
  align-items: center;
  margin-bottom: 20px;
  background-color: var(--background-color-2);
}

.modal-edit__title {
  color: var(--text-color-1);
}

.modal-edit__close {
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: solid 2px var(--text-color-2);
  color: var(--text-color-2);
  height: 25px;
  width: 25px;
  border-radius: 6px;
}

.modal-edit__form {
  display: grid;
  margin: 0 20px 20px 20px;

  & button{
    border: none;
    border-radius: 6px;
    padding: 6px 14px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
  }

  & .modal-edit__form--save {
    background-color: var(--text-color-2);
    color: white;
  }

  & .modal-edit__form--cancel {
    background-color: transparent;
    color: var(--text-color-1);
    border: 2px solid var(--text-color-3);
  }
}

.modal-edit__form--edit {
  max-width: fit-content;
  margin: 0 16px;  
  color: white;  
  background-color: var(--text-color-3);   
}

.modal-edit__form--text {
  background-color: transparent;
  border: none;
  padding: 12px 16px;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-color-1);
  resize: none;
  field-sizing: content;

  & :focus {
    cursor: text;
  }
}

.modal-edit__form--btn--container {
  display: flex;
  justify-content: end;
  margin: 0 12px 20px 12px;
  gap: 10px;
}

/* Interacción */

.modal-edit__form--text:hover {
  cursor: pointer;
}

.modal-edit__form--text:hover:focus {
  cursor: text;
}

:is(.task-form__submit, .task-form__opener, .modal-edit__form--save, .modal-edit__form--edit):hover {
  background-color: #5999be;
  color: white;
  cursor: pointer;
}

:is(.modal-edit__form--cancel, .modal-edit__close):hover {
  background-color: var(--text-color-3);
  color: white;
  cursor: pointer;
}

.task-filter__option:hover:not(.option-selected),
.task-action:hover,
.task-action__option:hover {
  background-color: var(--text-color-3);
  color: white;
  cursor: pointer;
}

:focus {
  outline: 2px solid #e59700;
}

.task-filter__option:hover:last-child,
.task-filter__option:focus:last-child {
  border-radius: 0 0 11px 11px;
}

.dragging {
  cursor: grabbing;
  background-color: transparent;
  transition: transform 0.4s;
  border: 3px solid var(--dragging);
}

.dragging .task-action {
  background-color: transparent;
}

.dragging span {
  color: transparent;
}

.over .task-action {
  background-color: var(--dragging);
  border: none;
}

.over .task-action span {
  display: none;
}

.hidden {
  display: none;
}

/* Resposividad */

@media screen and (min-width: 810px) {
  body {
    padding: 0 100px;
  }

  .modal-edit {
    width: max(500px, 60%);
  }

  .modal-edit__form {
    margin: 0 40px;
  }

  .modal-edit__header {
    padding: 14px 20px 14px 52px;
  }
}

@media screen and (min-width: 1440px) {
  body {
    padding: 0 200px;
  }

  .task-columns__container {
    flex-direction: row;
    gap: 10px;
  }

  .task-columns__title {
    display: block;
  }

  .task-filter__select,
  .task-filter__group {
    display: none;
  }

  .task-column {
    border-radius: 14px;
    display: block;
  }

  .modal-edit {
    width: min(700px, 50%);
  }
}

@media screen and (min-width: 1920px) {
  body {
    padding: 0 350px;
  }

  .task-column {
    display: block;
  }
}
